/* BODY TAG CSS */

body {
  margin: auto;
  font-family: "OnePlus Sans Regular", "Helvetica Neue", Helvetica, Arial,
    sans-serif, system-ui;
  overflow-x: hidden;
}

/* NAVBAR CSS */

#navbar {
  width: 100%;
  display: inline-block;
  height: 50px;
}
#brand {
  width: 9%;
  margin-top: 10px;
  margin-left: 4%;
  float: left;
}
#brand > a > img {
  width: 100%;
  height: 100%;
  float: left;
}
#navitems {
  float: left;
  width: 42%;
}
.Phone {
  float: left;
  margin-left: -5%;
  width: auto;
}
.TV {
  float: left;
  width: auto;
}
.Audio {
  float: left;
  width: auto;
}
.Wearables {
  float: left;
  width: auto;
}
.Accessories {
  float: left;
  width: auto;
}
.Offers {
  width: auto;
  float: left;
}
.Phone ul li {
  list-style: none;
}
.Phone ul li a {
  text-decoration: none;
  color: black;
}
.Phone ul li ul {
  display: none;
  position: absolute;
  width: 100%;
  top: 54px;
  text-align: center;
  right: 0px;
  height: 40%;
  line-height: 40px;
  background-color: #fff;
}
.Phone ul li:focus-within > ul,
.Phone ul li:hover > ul {
  display: block;
}
.phoneimg {
  width: 13%;
  height: 15%;
  margin-left: 3%;
  float: left;
}
.phone1 {
  position: absolute;
  margin-top: 12%;
  margin-left: -52%;
  text-align: center;
}
.phone2 {
  position: absolute;
  margin-top: 12%;
  margin-left: -45%;
}
.phone3 {
  position: absolute;
  margin-top: 12%;
  margin-left: -36%;
}
.phone4 {
  position: absolute;
  margin-top: 12%;
  margin-left: -29%;
}
.phone5 {
  position: absolute;
  margin-top: 12%;
  margin-left: -23%;
}
.phone6 {
  position: absolute;
  margin-top: 12%;
  margin-left: -14%;
}
.TV ul li {
  list-style: none;
}
.TV ul li a {
  text-decoration: none;
  color: black;
}
.TV ul li ul {
  display: none;
  position: absolute;
  width: 100%;
  top: 54px;
  text-align: center;
  right: 0px;
  height: 40%;
  line-height: 40px;
  background-color: #fff;
}
.TV ul li:focus-within > ul,
.TV ul li:hover > ul {
  display: block;
}
.tvimg {
  width: 13%;
  height: 15%;
  margin-left: 3%;
  float: left;
}
.tv1 {
  position: absolute;
  margin-top: 10%;
  margin-left: -53%;
  text-align: center;
}
.tv2 {
  position: absolute;
  margin-top: 10%;
  margin-left: -44%;
}
.tv3 {
  position: absolute;
  margin-top: 10%;
  margin-left: -38%;
}
.tv4 {
  position: absolute;
  margin-top: 10%;
  margin-left: -28%;
}
.tv5 {
  position: absolute;
  margin-top: 10%;
  margin-left: -20%;
}
.tv6 {
  position: absolute;
  margin-top: 10%;
  margin-left: -14%;
}
.Audio ul li {
  list-style: none;
}
.Audio ul li a {
  text-decoration: none;
  color: black;
}
.Audio ul li ul {
  display: none;
  position: absolute;
  width: 100%;
  top: 54px;
  text-align: center;
  right: 0px;
  height: 40%;
  line-height: 40px;
  background-color: #fff;
}
.Audio ul li:focus-within > ul,
.Audio ul li:hover > ul {
  display: block;
}
.earimg {
  width: 13%;
  height: 15%;
  margin-left: 3%;
  float: left;
}
.ear1 {
  position: absolute;
  margin-top: 12%;
  margin-left: -55%;
  text-align: center;
  width: 17%;
  line-height: 25px;
}
.ear2 {
  position: absolute;
  margin-top: 12%;
  margin-left: -45%;
}
.ear3 {
  position: absolute;
  margin-top: 12%;
  margin-left: -37%;
}
.ear4 {
  position: absolute;
  margin-top: 12%;
  margin-left: -31%;
}
.ear5 {
  position: absolute;
  margin-top: 12%;
  margin-left: -21%;
}
.ear6 {
  position: absolute;
  margin-top: 12%;
  margin-left: -13%;
}
.Wearables ul li {
  list-style: none;
}
.Wearables ul li a {
  text-decoration: none;
  color: black;
}
.Wearables ul li ul {
  display: none;
  position: absolute;
  width: 100%;
  top: 54px;
  right: 0px;
  height: 40%;
  line-height: 40px;
  background-color: #fff;
}
.Wearables ul li:focus-within > ul,
.Wearables ul li:hover > ul {
  display: block;
}
.watchimg1 {
  width: 13%;
  height: 15%;
  float: left;
  margin-left: 34%;
}
.watchimg2 {
  width: 13%;
  height: 15%;
  float: left;
  margin-left: 3%;
}
.watch1 {
  position: absolute;
  margin-top: 12%;
  margin-left: -10%;
}
.watch2 {
  position: absolute;
  margin-top: 12%;
  margin-left: -10%;
}
.Accessories ul li {
  list-style: none;
}
.Accessories ul li a {
  text-decoration: none;
  color: black;
}
.Accessories ul li ul {
  display: none;
  position: absolute;
  width: 100%;
  top: 54px;
  text-align: center;
  right: 0px;
  height: 40%;
  line-height: 40px;
  background-color: #fff;
}
.Accessories ul li:focus-within > ul,
.Accessories ul li:hover > ul {
  display: block;
}
.caseimg1 {
  width: 13%;
  height: 15%;
  margin-left: 20%;
  float: left;
}
.caseimg {
  width: 13%;
  height: 15%;
  margin-left: 3%;
  float: left;
}
.case1 {
  position: absolute;
  float: left;
  margin-top: 12%;
  margin-left: -44%;
}
.case2 {
  position: absolute;
  float: left;
  margin-top: 12%;
  margin-left: -36%;
}
.case3 {
  position: absolute;
  float: left;
  margin-top: 12%;
  margin-left: -25%;
}
.case4 {
  position: absolute;
  float: left;
  margin-top: 12%;
  margin-left: -17%;
}
.Offers ul li {
  list-style: none;
}
.Offers ul li a {
  text-decoration: none;
  color: black;
}
.Offers ul li ul {
  display: none;
  position: absolute;
  width: 100%;
  top: 54px;
  text-align: center;
  right: 0px;
  height: 40%;
  line-height: 40px;
  background-color: #fff;
}
.Offers ul li:focus-within > ul,
.Offers ul li:hover > ul {
  display: block;
}
.Offers > ul > li > ul > li > a > span {
  margin-left: -33%;
  position: absolute;
  margin-top: 13%;
}
.exchangeimg {
  width: 13%;
  height: 15%;
  margin-top: 1%;
  margin-left: 43%;
  float: left;
}
#navsupport {
  width: 25%;
  float: left;
  margin-top: 17px;
  margin-left: 7%;
}
#navsupport > a {
  text-decoration: none;
  color: black;
  float: left;
  margin-left: 5%;
  font-size: 14.5px;
}
#navcart {
  width: 5%;
  float: left;
  margin-left: -2%;
}
#navcart ul li {
  list-style: none;
}
#navcart ul li a {
  text-decoration: none;
  color: black;
}
#navcart ul li ul {
  display: none;
  position: absolute;
  width: 25%;
  top: 54px;
  text-align: center;
  right: 0px;
  height: 40%;
  line-height: 40px;
  background-color: #fff;
}
#navcart ul li:focus-within > ul,
#navcart ul li:hover > ul {
  display: block;
}
.navcartimg {
  margin-top: 8px;
  width: 100px;
  height: 100px;
  margin-left: 15px;
  margin-right: 10px;
}
#navprofile {
  width: 5%;
  float: left;
}
#navprofile ul li {
  list-style: none;
}
#navprofile ul li a {
  text-decoration: none;
  color: black;
}
#navprofile ul li ul {
  display: none;
  position: absolute;
  width: 26%;
  top: 54px;
  right: 0px;
  height: 43%;
  line-height: 40px;
  margin-left: 2%;
}
#navprofile ul li ul li {
  border-top: 2px solid #eaeaea;
  background-color: #fff;
}
#navprofile ul li:focus-within > ul,
#navprofile ul li:hover > ul {
  display: block;
}
.navimage {
  height: 100%;
  width: 100%;
  cursor: pointer;
}
.navprofilelogo {
  margin-top: 8px;
  width: 25px;
  float: left;
  height: 25px;
  margin-left: 15px;
  margin-right: 10px;
}

/* SLIDER CSS */

#sliders {
  width: 100%;
  display: inline-block;
}
#sliders > a {
  text-decoration: none;
}
.maindiv {
  width: 100%;
  height: 590px;
  background-size: cover;
  background-image: url(./slider/newslide/slide1.png);
  animation: slider 10s infinite linear;
  background-repeat: no-repeat;
}
.maindivbuy {
  padding: 10px 90px 10px 90px;
  margin: -219px 1px 1px 30px;
  position: absolute;
  border: 1px solid black;
  color: white;
  background-color: black;
}
.maindivlearn {
  padding: 10px 80px 10px 80px;
  margin: -219px 1px 0px 284px;
  position: absolute;
  border: 1px solid black;
  color: black;
  background-color: white;
}
@keyframes slider {
  0% {
    background-image: url(https://i.ibb.co/WtPrs2M/slide1.png);
  }
  33.33% {
    background-image: url(https://i.ibb.co/8ckNHH3/slide2.png);
  }
  66.66% {
    background-image: url(https://i.ibb.co/5GGv010/slide3.png);
  }
}

/* DISPLAY CSS */

#display {
  width: 100%;
  margin-top: 5%;
  display: inline-block;
}
.div1main {
  width: 100%;
  display: inline-block;
}
.div11 {
  float: left;
  width: 33%;
  margin-left: 2%;
  margin-top: -1%;
}
.div11 > ul {
  list-style: none;
}
.div111 {
  font-size: 20px;
}
.div112 {
  font-weight: lighter;
  font-size: 44px;
}
.div113 {
  margin-top: 156px;
  font-size: 20px;
}
.div114 {
  margin-top: 5px;
  font-size: 20px;
}
.div115 {
  margin-top: 35px;
  font-size: 20px;
}
.div116 {
  margin-top: 5px;
  font-size: 20px;
}
.div117 {
  margin-top: 30px;
  width: 100%;
}
.div12 {
  float: left;
  width: 60%;
  margin-left: 2%;
}
.div12 > a > img {
  width: 100%;
  height: 440px;
}
.buynow {
  border: 1px solid black;
  text-decoration: none;
  background-color: black;
  color: rgb(255, 255, 255);
  padding-top: 11px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 11px;
  border-radius: 2px;
}
.learnmore {
  border: 1px solid black;
  text-decoration: none;
  color: black;
  padding-top: 11px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 11px;
  border-radius: 2px;
}
.div2 {
  width: 100%;
  display: inline-block;
  margin-top: 5%;
  margin-left: 3%;
}
.div21 {
  width: 50%;
  float: left;
}
.div2-1 {
  width: 50%;
  float: left;
}
.div21img {
  width: 50%;
  float: left;
}
.div21img > a > img {
  width: 80%;
  margin-left: 11%;
}
.div2-1 > ul {
  list-style: none;
}
.div211 {
  font-size: 20px;
}
.div212 {
  font-weight: lighter;
  font-size: 37px;
  margin-top: 5px;
}
.div213 {
  font-weight: lighter;
  font-size: 37px;
}
.div214 {
  margin-top: 50px;
  font-size: 16px;
}
.div215 {
  margin-top: 20px;
  font-size: 20px;
}
.div216 {
  margin-top: 5px;
  font-size: 20px;
}
.div217 {
  margin-top: 30px;
  width: 100%;
}
.div22img > a > img {
  width: 82%;
  height: 40%;
}
.div22 {
  width: 50%;
  float: left;
  margin-left: -1%;
}
.div2-2 {
  width: 50%;
  float: left;
}
.div22img {
  width: 50%;
  float: left;
}
.div2-2 > ul {
  list-style: none;
}
.div221 {
  font-size: 20px;
}
.div222 {
  font-weight: lighter;
  font-size: 37px;
  margin-top: 5px;
}
.div223 {
  margin-top: 156px;
  font-size: 20px;
}
.div224 {
  margin-top: 5px;
  font-size: 20px;
}
.div225 {
  margin-top: 107px;
  font-size: 20px;
}
.div226 {
  margin-top: 5px;
  font-size: 20px;
}
.div227 {
  margin-top: 30px;
  width: 100%;
}
.buynow1 {
  border: 1px solid black;
  text-decoration: none;
  background-color: black;
  color: rgb(255, 255, 255);
  padding-top: 11px;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 11px;
  border-radius: 2px;
}
.learnmore1 {
  border: 1px solid black;
  text-decoration: none;
  color: black;
  padding-top: 11px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 11px;
  border-radius: 2px;
}

/* HOTPIC CSS */

#hotpics {
  margin-top: 5%;
  width: 100%;
  display: inline-block;
}
.Weekspicks {
  border-bottom: 1px solid #eaeaea;
  width: 90%;
  margin-left: 5%;
  font-size: 20px;
  color: #404040;
}
.hotpicsdrop {
  width: 90%;
  margin-left: 2%;
  margin-top: 2%;
}
.viewproducts {
  margin: 50% 30% 1% 44%;
}
.viewproducts > a {
  text-decoration: none;
  color: black;
}
.hotpicsdrop > div {
  float: left;
  font-size: 18px;
}
.hotpicsdrop1 ul li {
  list-style: none;
}
.hotpicsdrop1 ul li a {
  text-decoration: none;
  color: black;
}
.hotpicsdrop1 ul li ul {
  position: absolute;
  width: 100%;
  margin-top: 3%;
  text-align: center;
  right: 0px;
  height: 80%;
  line-height: 40px;
  background-color: #fff;
}
.hotpicsdrop1 ul li:focus-within > ul {
  display: block;
}
.hotpicsdrop2 ul li {
  list-style: none;
}
.hotpicsdrop2 ul li a {
  text-decoration: none;
  color: black;
}
.hotpicsdrop2 ul li ul {
  display: none;
  position: absolute;
  width: 100%;
  margin-top: 3%;
  text-align: center;
  right: 0px;
  height: 80%;
  line-height: 40px;
  background-color: #fff;
}
.hotpicsdrop2 ul li:focus-within > ul {
  display: block;
}
.hotpicsdrop3 ul li {
  list-style: none;
}
.hotpicsdrop3 ul li a {
  text-decoration: none;
  color: black;
}
.hotpicsdrop3 ul li ul {
  display: none;
  position: absolute;
  width: 100%;
  margin-top: 3%;
  text-align: center;
  right: 0px;
  height: 80%;
  line-height: 40px;
  background-color: #fff;
}
.hotpicsdrop3 ul li:focus-within > ul {
  display: block;
}
.hotpicsdrop4 ul li {
  list-style: none;
}
.hotpicsdrop4 ul li a {
  text-decoration: none;
  color: black;
}
.hotpicsdrop4 ul li ul {
  display: none;
  position: absolute;
  width: 100%;
  margin-top: 3%;
  text-align: center;
  right: 0px;
  height: 80%;
  line-height: 40px;
  background-color: #fff;
}
.hotpicsdrop4 ul li:focus-within > ul {
  display: block;
}
.hotpicsdrop5 ul li {
  list-style: none;
}
.hotpicsdrop5 ul li a {
  text-decoration: none;
  color: black;
}
.hotpicsdrop5 ul li ul {
  display: none;
  position: absolute;
  width: 100%;
  margin-top: 3%;
  text-align: center;
  right: 0px;
  height: 80%;
  line-height: 40px;
  background-color: #fff;
}
.hotpicsdrop5 ul li:focus-within > ul {
  display: block;
}
.highimg {
  width: 21%;
  height: 15%;
  margin-left: 3%;
  float: left;
  background-color: #f8f8f8;
}
.phoimg {
  width: 21%;
  height: 15%;
  margin-left: 3%;
  float: left;
  background-color: #f8f8f8;
}
.tvsimg {
  width: 21%;
  height: 15%;
  margin-left: 3%;
  float: left;
  background-color: #f8f8f8;
}
.audimg {
  width: 21%;
  height: 15%;
  margin-left: 3%;
  float: left;
  background-color: #f8f8f8;
}
.accessimg {
  width: 21%;
  height: 15%;
  margin-left: 3%;
  float: left;
  background-color: #f8f8f8;
}
.hicart1:hover {
  border: 1px black;
  padding: 1px 60px 1px 30px;
  background-color: black;
  color: #fff;
}
.hicart2:hover {
  border: 1px black;
  padding: 1px 60px 1px 30px;
  background-color: black;
  color: #fff;
}
.hicart3:hover {
  border: 1px black;
  padding: 1px 60px 1px 30px;
  background-color: black;
  color: #fff;
}
.hicart4:hover {
  border: 1px black;
  padding: 1px 50px 1px 25px;
  background-color: black;
  color: #fff;
}
.hicart1 {
  position: absolute;
  margin-top: 25%;
  margin-left: -56%;
  font-size: 18px;
  float: left;
}
.hicart11 {
  position: absolute;
  font-size: 23px;
  margin-top: 22%;
  margin-left: -56%;
}
.hicartsimg1 {
  width: 15%;
  float: left;
  margin-top: 6%;
  margin-right: 4%;
}
.hicart2 {
  position: absolute;
  margin-top: 25%;
  margin-left: -42%;
  font-size: 18px;
  float: left;
}
.hicart12 {
  position: absolute;
  font-size: 23px;
  margin-top: 22%;
  margin-left: -42%;
}
.hicartsimg2 {
  width: 15%;
  float: left;
  margin-top: 6%;
  margin-right: 4%;
}
.hicart3 {
  position: absolute;
  margin-top: 25%;
  margin-left: -32%;
  font-size: 18px;
  float: left;
}
.hicart13 {
  position: absolute;
  font-size: 23px;
  margin-top: 22%;
  margin-left: -32%;
}
.hicartsimg3 {
  width: 15%;
  float: left;
  margin-top: 6%;
  margin-right: 4%;
}
.hicart4 {
  position: absolute;
  margin-top: 25%;
  margin-left: -19%;
  font-size: 18px;
  float: left;
}
.hicart14 {
  position: absolute;
  font-size: 23px;
  margin-top: 22%;
  margin-left: -19%;
}
.hicartsimg4 {
  width: 15%;
  float: left;
  margin-top: 6%;
  margin-right: 4%;
}
.phcart1:hover {
  border: 1px black;
  padding: 1px 40px 1px 20px;
  background-color: black;
  color: #fff;
}
.phcart2:hover {
  border: 1px black;
  padding: 1px 55px 1px 25px;
  background-color: black;
  color: #fff;
}
.phcart3:hover {
  border: 1px black;
  padding: 1px 40px 1px 20px;
  background-color: black;
  color: #fff;
}
.phcart4:hover {
  border: 1px black;
  padding: 1px 62px 1px 40px;
  background-color: black;
  color: #fff;
}
.phcart1 {
  position: absolute;
  margin-top: 25%;
  margin-left: -54%;
  font-size: 18px;
  float: left;
}
.phcart11 {
  position: absolute;
  font-size: 23px;
  margin-top: 22%;
  margin-left: -54%;
}
.phcartimg1 {
  width: 15%;
  float: left;
  margin-top: 6%;
  margin-right: 4%;
}
.phcart2 {
  position: absolute;
  margin-top: 25%;
  margin-left: -42%;
  font-size: 18px;
  float: left;
}
.phcart12 {
  position: absolute;
  font-size: 23px;
  margin-top: 22%;
  margin-left: -42%;
}
.phcartimg2 {
  width: 15%;
  float: left;
  margin-top: 6%;
  margin-right: 4%;
}
.phcart3 {
  position: absolute;
  margin-top: 25%;
  margin-left: -30%;
  font-size: 18px;
  float: left;
}
.phcart13 {
  position: absolute;
  font-size: 23px;
  margin-top: 22%;
  margin-left: -30%;
}
.phcartimg3 {
  width: 15%;
  float: left;
  margin-top: 6%;
  margin-right: 4%;
}
.phcart4 {
  position: absolute;
  margin-top: 25%;
  margin-left: -19%;
  font-size: 18px;
  float: left;
}
.phcart14 {
  position: absolute;
  font-size: 23px;
  margin-top: 22%;
  margin-left: -19%;
}
.phcartimg4 {
  width: 15%;
  float: left;
  margin-top: 6%;
  margin-right: 4%;
}
.aucart1:hover {
  border: 1px black;
  padding: 1px 70px 1px 40px;
  background-color: black;
  color: #fff;
}
.aucart2:hover {
  border: 1px black;
  padding: 1px 55px 1px 25px;
  background-color: black;
  color: #fff;
}
.aucart3:hover {
  border: 1px black;
  padding: 1px 45px 1px 25px;
  background-color: black;
  color: #fff;
}
.aucart4:hover {
  border: 1px black;
  padding: 1px 55px 1px 30px;
  background-color: black;
  color: #fff;
}
.aucart1 {
  position: absolute;
  margin-top: 25%;
  margin-left: -54%;
  font-size: 18px;
  float: left;
}
.aucart11 {
  position: absolute;
  font-size: 23px;
  margin-top: 22%;
  margin-left: -54%;
}
.aucartimg1 {
  width: 15%;
  float: left;
  margin-top: 6%;
  margin-right: 4%;
}
.aucart2 {
  position: absolute;
  margin-top: 25%;
  margin-left: -42%;
  font-size: 18px;
  float: left;
}
.aucart12 {
  position: absolute;
  font-size: 23px;
  margin-top: 22%;
  margin-left: -42%;
}
.aucartimg2 {
  width: 15%;
  float: left;
  margin-top: 6%;
  margin-right: 4%;
}
.aucart3 {
  position: absolute;
  margin-top: 25%;
  margin-left: -30%;
  font-size: 18px;
  float: left;
}
.aucart13 {
  position: absolute;
  font-size: 23px;
  margin-top: 22%;
  margin-left: -30%;
}
.aucartimg3 {
  width: 15%;
  float: left;
  margin-top: 6%;
  margin-right: 4%;
}
.aucart4 {
  position: absolute;
  margin-top: 28%;
  margin-left: -19%;
  font-size: 18px;
  float: left;
}
.aucart14 {
  position: absolute;
  font-size: 23px;
  text-align: left;
  margin-top: 22%;
  margin-left: -19%;
  width: 15%;
}
.aucartimg4 {
  width: 15%;
  float: left;
  margin-top: 10%;
  margin-right: 4%;
}
.tvcart1:hover {
  border: 1px black;
  padding: 1px 55px 1px 25px;
  background-color: black;
  color: #fff;
}
.tvcart2:hover {
  border: 1px black;
  padding: 1px 55px 1px 25px;
  background-color: black;
  color: #fff;
}
.tvcart3:hover {
  border: 1px black;
  padding: 1px 50px 1px 30px;
  background-color: black;
  color: #fff;
}
.tvcart4:hover {
  border: 1px black;
  padding: 1px 55px 1px 30px;
  background-color: black;
  color: #fff;
}
.tvcart1 {
  position: absolute;
  margin-top: 28%;
  margin-left: -55%;
  font-size: 18px;
  float: left;
}
.tvcart11 {
  position: absolute;
  font-size: 23px;
  text-align: left;
  margin-top: 22%;
  margin-left: -55%;
  width: 16%;
}
.tvcartimg1 {
  width: 15%;
  float: left;
  margin-top: 6%;
  margin-right: 4%;
}
.tvcart2 {
  position: absolute;
  margin-top: 28%;
  margin-left: -44%;
  font-size: 18px;
  float: left;
}
.tvcart12 {
  position: absolute;
  font-size: 23px;
  text-align: left;
  margin-top: 22%;
  margin-left: -44%;
  width: 17%;
}
.tvcartimg2 {
  width: 15%;
  float: left;
  margin-top: 6%;
  margin-right: 4%;
}
.tvcart3 {
  position: absolute;
  margin-top: 28%;
  margin-left: -32%;
  font-size: 18px;
  float: left;
}
.tvcart13 {
  position: absolute;
  font-size: 23px;
  text-align: left;
  margin-top: 22%;
  margin-left: -32%;
  width: 17%;
}
.tvcartimg3 {
  width: 15%;
  float: left;
  margin-top: 6%;
  margin-right: 4%;
}
.tvcart4 {
  position: absolute;
  margin-top: 28%;
  margin-left: -20%;
  font-size: 18px;
  float: left;
}
.tvcart14 {
  position: absolute;
  font-size: 23px;
  text-align: left;
  margin-top: 22%;
  margin-left: -20%;
  width: 17%;
}
.tvcartimg4 {
  width: 15%;
  float: left;
  margin-top: 6%;
  margin-right: 4%;
}
.acccart1:hover {
  border: 1px black;
  padding: 1px 70px 1px 50px;
  background-color: black;
  color: #fff;
}
.acccart2:hover {
  border: 1px black;
  padding: 1px 60px 1px 30px;
  background-color: black;
  color: #fff;
}
.acccart3:hover {
  border: 1px black;
  padding: 1px 65px 1px 40px;
  background-color: black;
  color: #fff;
}
.acccart4:hover {
  border: 1px black;
  padding: 1px 55px 1px 30px;
  background-color: black;
  color: #fff;
}
.acccart1 {
  position: absolute;
  margin-top: 27%;
  margin-left: -55%;
  font-size: 18px;
  float: left;
}
.acccart11 {
  position: absolute;
  font-size: 23px;
  text-align: left;
  line-height: 28px;
  margin-top: 22%;
  margin-left: -55%;
  width: 20%;
}
.acccartimg1 {
  width: 15%;
  float: left;
  margin-top: 7%;
  margin-right: 4%;
}
.acccart2 {
  position: absolute;
  margin-top: 29%;
  margin-left: -44%;
  font-size: 18px;
  float: left;
}
.acccart12 {
  position: absolute;
  font-size: 23px;
  margin-top: 22%;
  margin-left: -44%;
  text-align: left;
  line-height: 28px;
  width: 17%;
}
.acccartimg2 {
  width: 17%;
  float: left;
  margin-top: 7%;
  margin-right: 4%;
}
.acccart3 {
  position: absolute;
  margin-top: 27%;
  margin-left: -32%;
  font-size: 18px;
  float: left;
}
.acccart13 {
  position: absolute;
  font-size: 23px;
  margin-top: 22%;
  margin-left: -32%;
  text-align: left;
  line-height: 28px;
  width: 18%;
}
.acccartimg3 {
  width: 15%;
  float: left;
  margin-top: 7%;
  margin-right: 4%;
}
.acccart4 {
  position: absolute;
  margin-top: 27%;
  margin-left: -20%;
  font-size: 18px;
  float: left;
}
.acccart14 {
  position: absolute;
  font-size: 23px;
  margin-top: 22%;
  text-align: left;
  line-height: 28px;
  margin-left: -20%;
  width: 14%;
}
.acccartimg4 {
  width: 16%;
  float: left;
  margin-top: 8%;
  margin-right: 4%;
}

/* REDCLUB CSS */

#redclub {
  margin-top: 3%;
  width: 100%;
  background-color: black;
  color: white;
  display: inline-block;
  margin-bottom: 4%;
}
.onetopia {
  width: 90%;
  height: 20%;
  font-weight: lighter;
  margin-left: 2%;
  margin-top: 5%;
  display: inline-block;
}
.onetopia1 {
  font-size: 20px;
  text-align: left;
  list-style: none;
  line-height: 35px;
  border-bottom: 1px solid #4d4d4d;
}
.onetopia2 {
  font-size: 45px;
  text-align: left;
  list-style: none;
  margin-top: 4%;
}
.onetopia3 {
  font-size: 45px;
  text-align: left;
  list-style: none;
}
.onetopia4 {
  text-decoration: none;
  color: #f50514;
}
.neversettle {
  width: 90%;
  margin-left: 6%;
  display: inline-block;
}
.neversettle1 {
  float: left;
  width: 65%;
}
.neversettle12 {
  width: 100%;
}
.neversettle2 {
  float: left;
  width: 35%;
  margin-left: -2%;
}
.neversettle21 {
  font-size: 44px;
  list-style: none;
}
.neversettle22 {
  font-size: 14px;
  list-style: none;
  margin-top: 50%;
  margin-bottom: 10%;
}
.neversettle23 {
  list-style: none;
  color: white;
}
.osplus {
  width: 90%;
  margin-left: 6%;
  display: inline-block;
}
.oxyos {
  width: 48%;
  float: left;
  background-color: #222;
  margin-right: 1%;
  margin-top: 3%;
}
.oxyos1 {
  width: 50%;
  float: left;
}
.oxyos11 {
  list-style: none;
  font-size: 20px;
  margin-left: -10%;
  color: #656565;
}
.oxyos12 {
  list-style: none;
  font-size: 30px;
  margin-left: -10%;
}
.oxyos13 {
  list-style: none;
  font-size: 16px;
  margin: 50% 0% 10% -10%;
}
.oxyos14 {
  color: white;
  margin-left: -10%;
}
.oxyos2 {
  width: 50%;
  float: left;
}
.oxyos21 {
  width: 100%;
}
.aboutone {
  width: 48%;
  float: left;
  background-color: #222;
  margin-left: 1%;
  margin-top: 3%;
}
.aboutone1 {
  width: 50%;
  float: left;
}
.aboutone11 {
  list-style: none;
  font-size: 20px;
  margin-left: -10%;
  color: #656565;
}
.aboutone12 {
  list-style: none;
  font-size: 30px;
  margin-left: -10%;
}
.aboutone13 {
  list-style: none;
  font-size: 16px;
  margin: 32% 0% 7% -10%;
}
.aboutone14 {
  color: white;
  margin-left: -10%;
}
.aboutone2 {
  width: 50%;
  float: left;
}
.aboutone21 {
  width: 100%;
}
.cableclub {
  width: 90%;
  margin-left: 3%;
  display: inline-block;
  margin-top: 4%;
}
.cableclub1 {
  list-style: none;
  font-size: 20px;
  border-bottom: 1px solid #4d4d4d;
  line-height: 45px;
}
.cableclub2 {
  font-size: 44px;
  list-style: none;
  margin-top: 4%;
}
.cableclub3 {
  text-decoration: none;
  color: #f50514;
}
.limitless {
  width: 90%;
  margin: 3% 0% 3% 6%;
  display: inline-block;
}
.limitless1 {
  width: 70%;
  float: left;
}
.limitless11 {
  width: 100%;
}
.limitless2 {
  width: 30%;
  float: left;
}
.limitless21 {
  list-style: none;
  font-size: 44px;
  margin: -5% 0% 0% -7%;
}
.limitless22 {
  list-style: none;
  font-size: 13px;
  margin: 78% 0% 8% -6%;
}
.limitless23 {
  color: white;
  font-size: 17px;
  margin: 0% 0% 0% -6%;
}

/* COMMUNITY CSS */

#community {
  width: 100%;
  display: inline-block;
  margin-left: 3%;
}
.currentcommu {
  width: 90%;
  margin-left: 3%;
  list-style: none;
  display: inline-block;
  border-bottom: 1px solid #eaeaea;
  line-height: 46px;
}
.currentcommu1 {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.75);
  width: 90%;
  float: left;
}
.currentcommu2 {
  float: left;
  width: 10%;
  text-align: right;
  text-decoration: none;
  color: black;
}
.powercommu {
  width: 90%;
  margin-top: 2%;
  display: inline-block;
}
.powercommu1 {
  width: 40%;
  float: left;
}
.powercommu11 {
  list-style: none;
  font-size: 50px;
  margin-top: -5%;
}
.powercommu12 {
  list-style: none;
  margin: 37% 0% 6% 0%;
  font-size: 16px;
}
.powercommu13 {
  color: black;
}
.powercommu2 {
  width: 60%;
  float: left;
}
.powercommu21 {
  width: 105%;
  margin-left: 1%;
}
.vlogcommu {
  width: 95%;
  display: inline-block;
  margin-top: 4%;
  margin-left: 3%;
}
.vlogcommu1 {
  width: 30%;
  float: left;
}
.vlogcommu11 {
  width: 97%;
}
.vlogcommu12 {
  list-style: none;
  font-size: 30px;
  text-align: left;
  margin-left: -12%;
}
.vlogcommu13 {
  list-style: none;
  font-size: 17px;
  text-align: left;
  margin: 7% 0% 15% -12%;
}
.vlogcommu14 {
  color: black;
  margin-left: -12%;
}
.vlogcommu2 {
  width: 30%;
  float: left;
  margin-left: 3%;
}
.vlogcommu21 {
  width: 97%;
}
.vlogcommu22 {
  list-style: none;
  font-size: 30px;
  text-align: left;
  margin-left: -12%;
}
.vlogcommu23 {
  list-style: none;
  font-size: 17px;
  text-align: left;
  margin: 7% 0% 8% -12%;
}
.vlogcommu24 {
  color: black;
  margin-left: -12%;
}
.vlogcommu3 {
  width: 30%;
  float: left;
  margin-left: 3%;
}
.vlogcommu31 {
  width: 97%;
}
.vlogcommu32 {
  list-style: none;
  font-size: 30px;
  text-align: left;
  margin-left: -12%;
}
.vlogcommu33 {
  list-style: none;
  font-size: 17px;
  text-align: left;
  margin: 7% 0% 8% -12%;
}
.vlogcommu34 {
  color: black;
  margin-left: -12%;
}
.supportcommu {
  width: 90%;
  display: inline-block;
  margin-left: 3%;
  margin-top: 4%;
  border-bottom: 1px solid #eaeaea;
  line-height: 45px;
}
.supportcommu1 {
  width: 90%;
  float: left;
  font-size: 20px;
}
.supportcommu2 {
  width: 10%;
  float: left;
  text-align: right;
  color: black;
  text-decoration: none;
}
.servicecommu {
  width: 90%;
  margin: 3% 0% 0% 3%;
  display: inline-block;
}
.servicecommu1 {
  width: 49%;
  float: left;
  background-color: #f8f8f8;
}
.servicecommu11 {
  width: 50%;
  float: left;
}
.servicecommu111 {
  list-style: none;
  font-size: 20px;
}
.servicecommu112 {
  list-style: none;
  font-size: 31px;
  margin-top: 2%;
}
.servicecommu113 {
  list-style: none;
  font-size: 15px;
  margin: 58% 0% 8% 0%;
}
.servicecommu114 {
  color: black;
  font-size: 15px;
}
.servicecommu12 {
  width: 50%;
  float: left;
}
.servicecommu121 {
  width: 100%;
}
.servicecommu2 {
  width: 49%;
  float: left;
  margin-left: 2%;
  background-color: #f8f8f8;
}
.servicecommu21 {
  width: 46%;
  float: left;
  margin-right: 4%;
}
.servicecommu211 {
  list-style: none;
  font-size: 20px;
}
.servicecommu212 {
  list-style: none;
  font-size: 31px;
  margin-top: 2%;
}
.servicecommu213 {
  list-style: none;
  font-size: 15px;
  margin: 42% 0% 6% 0%;
}
.servicecommu214 {
  color: black;
  font-size: 15px;
}
.servicecommu22 {
  width: 50%;
  float: left;
}
.servicecommu221 {
  width: 100%;
}
.troublecommu {
  width: 90%;
  display: inline-block;
  margin-top: 3%;
  margin-left: 3%;
  line-height: 60px;
  border-top: 2px solid #eaeaea;
  border-bottom: 2px solid #eaeaea;
}
.troublecommu1 {
  width: 22%;
  border-right: 2px solid #eaeaea;
  list-style: none;
  text-decoration: none;
  padding: 0% 1% 0% 0%;
  margin-top: -17px;
  margin-left: -2%;
  color: black;
  font-size: 19px;
  float: left;
}
.troublecommu2 {
  width: 22%;
  border-right: 2px solid #eaeaea;
  list-style: none;
  text-decoration: none;
  padding: 0% 1% 0% 2%;
  margin-top: -17px;
  color: black;
  font-size: 19px;
  float: left;
}
.troublecommu3 {
  width: 22%;
  border-right: 2px solid #eaeaea;
  list-style: none;
  text-decoration: none;
  padding: 0% 1% 0% 2%;
  margin-top: -17px;
  color: black;
  font-size: 19px;
  float: left;
}
.troublecommu4 {
  width: 22%;
  list-style: none;
  text-decoration: none;
  padding: 0% 1% 0% 2%;
  margin-top: -17px;
  color: black;
  font-size: 19px;
  float: left;
}

/* STAYCONNECTED CSS */

#stayconnected {
  width: 100%;
  margin-top: 4%;
  display: inline-block;
  background-color: black;
  color: white;
}
.staycon {
  width: 90%;
  color: white;
  margin: 3% 0% 0% 5%;
  line-height: 50px;
  border-bottom: 1px solid #4d4d4d;
  display: inline-block;
}
.staycon1 {
  font-size: 19px;
}
.shodes {
  width: 90%;
  margin: 3% 0% 0% 5%;
  height: 330px;
  display: inline-block;
}
.shodes1 {
  width: 49%;
  background-image: url(https://i.ibb.co/s38m8Yf/bg1.webp);
  background-size: 100% 100%;
  height: 330px;
  float: left;
}
.shodes11 {
  list-style: none;
  font-size: 32px;
  margin: 0% 0% 0% -4%;
  width: 60%;
}
.shodes12 {
  list-style: none;
  margin: 2% 0% 0% -4%;
  width: 60%;
}
.shodes13 {
  text-decoration: none;
  width: 30%;
  border: 1px solid #313131;
  border: 1px solid #555555;
  border-radius: 3px;
  display: inline-block;
  padding: 1% 10% 1% 15%;
  margin: 23% 0% 0% -4%;
}
.googleimg {
  width: 20%;
  float: left;
}
.shodes13 > span {
  float: left;
  margin: 4% 0% 0% 3%;
  color: white;
  font-size: 18px;
}
.shodes2 {
  width: 49%;
  background-image: url(https://i.ibb.co/Bn6VRGd/bg2.jpg);
  background-size: 100% 100%;
  margin-left: 2%;
  float: left;
  height: 330px;
}
.shodes21 {
  list-style: none;
  font-size: 32px;
  width: 60%;
  margin: 0% 0% 0% -4%;
}
.shodes22 {
  list-style: none;
  margin: 3% 0% 0% -4%;
  width: 60%;
}
.shodes23 {
  list-style: none;
  font-size: 14px;
  margin: 20% 0% 0% -4%;
  width: 60%;
}
.shodes231 {
  text-decoration: none;
  color: #858585;
}
.shodes24 {
  width: 30%;
  padding: 2% 19% 2% 2%;
  font-size: 17px;
  color: white;
  border-radius: 3px;
  margin: 4% 0% 0% -4%;
  border: 1px solid #767676;
  background-color: transparent !important;
}
.firstknow {
  width: 90%;
  display: inline-block;
  margin: 6% 0% 5% 5%;
}
.firstknow1 {
  list-style: none;
  font-size: 50px;
  text-align: center;
  margin: 0% 0% 0% 0%;
}
.firstknow2 {
  list-style: none;
  font-size: 20px;
  text-align: center;
  margin: 1% 0% 5% 0%;
}
.firstknow3 {
  text-decoration: none;
  background-color: white;
  color: black;
  font-size: 17px;
  padding: 1% 5% 1% 5%;
  border-radius: 3px;
  margin: 0% 35% 0% 40%;
}

/* CONTACTUS CSS */

#contactus {
  width: 100%;
  display: inline-block;
}
.contactus1 {
  width: 96%;
  margin-left: 2%;
}
.contactus111 {
  font-size: 18px;
  width: 100%;
  padding: 0% 0% 0% 0%;
  line-height: 50px;
  border-bottom: 2px solid #e6e6e6;
}
.contactusa {
  text-decoration: none;
  color: black;
  font-size: 18px;
  margin-left: 3%;
}
.contactus111 > span {
  font-size: 28px;
  float: right;
}
.contactus121 {
  font-size: 18px;
  padding: -20% 0% 2% 0%;
  line-height: 50px;
  border-bottom: 2px solid #e6e6e6;
}
.contactus121 > span {
  font-size: 28px;
  float: right;
}
.contactus131 {
  font-size: 18px;
  width: 100%;
  padding: -20% 0% 2% 0%;
  line-height: 50px;
  border-bottom: 2px solid #e6e6e6;
}
.contactus131 > span {
  font-size: 28px;
  float: right;
}
.contactus141 {
  font-size: 18px;
  width: 100%;
  padding: -20% 0% 2% 0%;
  line-height: 50px;
  border-bottom: 2px solid #e6e6e6;
}
.contactus141 > span {
  font-size: 28px;
  float: right;
}
.contactus151 {
  font-size: 18px;
  width: 100%;
  padding: -20% 0% 2% 0%;
  line-height: 50px;
  border-bottom: 2px solid #e6e6e6;
}
.contactus151 > span {
  font-size: 28px;
  float: right;
}
.contactus2 {
  width: 100%;
  margin-top: 2%;
  display: inline-block;
}
.contactus21 {
  width: 15%;
  float: right;
  margin-right: 2%;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}
.contactus21 > a {
  font-size: 18px;
  text-decoration: none;
  color: #0099cf;
}
.contactus22 {
  display: inline-block;
  width: 100%;
}
.contactus22 > ul {
  list-style: none;
}
.contactus221 {
  float: left;
  width: 25%;
  margin-left: -1%;
}
.contactus222 {
  float: left;
  width: 25%;
  margin-left: -13%;
}
.contactus223 {
  float: left;
  width: 25%;
  margin-left: -16%;
}
.contactus224 {
  float: left;
  width: 25%;
  margin-left: -20%;
}
.contactus22 > ul > li > span {
  margin-left: 2%;
  color: #676767;
  font-size: 14px;
}
.contactus22 > ul > li > img {
  width: 6%;
  float: left;
}
.contactus23 {
  float: right;
  width: 17%;
  margin-right: 1%;
}
.contactus23 > a > img {
  width: 13%;
  padding: 0% 7% 0% 11%;
}

/* ABOUTUS CSS */
#aboutus {
  width: 100%;
  background-color: #f9f9f9;
  margin-top: 5%;
  border-top: 2px solid #c7c7c7;
  display: inline-block;
}
.aboutus1 {
  width: 100%;
  display: inline-block;
  margin-top: 2%;
}
.aboutus11 {
  width: 15%;
  float: left;
  border-bottom: 1px solid #6a6969;
  margin-left: 3%;
  line-height: 45px;
}
.aboutus11 > a > img {
  width: 13%;
  float: left;
}
.aboutus11 > a > span {
  float: left;
  margin-left: 4%;
  color: black;
  text-decoration: none;
  margin-top: -5%;
}
.aboutus12 {
  width: 50%;
  float: left;
  margin-left: 32%;
}
.aboutus12 > a {
  text-decoration: none;
  font-size: 12px;
  color: #000000;
}
.aboutus121 {
  padding: 0% 2% 0% 2%;
  border-right: 1px solid#acacac;
}
.aboutus122 {
  padding: 0% 2% 0% 2%;
  border-right: 1px solid#acacac;
}
.aboutus123 {
  padding: 0% 2% 0% 2%;
  border-right: 1px solid#acacac;
}
.aboutus124 {
  padding: 0% 2% 0% 2%;
  border-right: 1px solid#acacac;
}
.aboutus125 {
  padding: 0% 2% 0% 2%;
}
.aboutus2 {
  width: 100%;
  display: inline-block;
  margin-top: 4%;
}
.aboutus21 {
  float: left;
  width: 46%;
  margin-left: 3%;
}
.aboutus21 > span {
  font-size: 13px;
}
.aboutus22 {
  float: left;
  width: 50%;
  margin-bottom: 5%;
}
.aboutus22 > a > img {
  width: 30%;
  margin-left: 67%;
}
