body {
    margin: auto;
    font-family: "OnePlus Sans Regular", "Helvetica Neue", Helvetica, Arial,
        sans-serif, system-ui;
    overflow-x: hidden;
}

.brand>img {
    height: 35px;
}

.login {
    float: left;
    width: 100%;
    text-align: center;
    border-bottom: 2px solid rgb(222, 220, 220);
}

.login>ul>li {
    list-style: none;
    margin-top: 1%;
}

.login>ul>li>input {
    padding: 0% 40px;
    text-align: center;
}

.login4>a {
    text-decoration: none;
    background-color: red !important;
    padding: 0.5% 105px;
    border-radius: 3px;
    color: white !important;
}

.login5 {
    font-size: small;
}

.login6 {
    font-size: small;
    color: rgb(85, 85, 85);
}

.login7>a {
    text-decoration: none;
    background-color: black;
    color: white !important;
    padding: 0.5% 97px;
    border-radius: 3px;
}

.login8>a {
    text-decoration: none;
    border: 1px solid black;
    color: black !important;
    padding: 0.5% 93px;
    border-radius: 3px;
}

.login8>a>img {
    height: 18px;
}

.login9>a {
    text-decoration: none;
    background-color: #3c5a99;
    color: white !important;
    padding: 0.5% 86px;
    border-radius: 3px;
}

.login9>a>img {
    height: 18px;
}

.login10>a {
    text-decoration: none;
    margin: 10px;
    color: #0099cc;
}

.login101 {
    border-right: 1px solid rgb(146, 145, 145);
    padding-right: 20px;
}

.login11 {
    font-size: small;
}

.login11>a {
    text-decoration: none;
    color: #0099cc;
}

.contactus1 {
    width: 96%;
    margin-left: 2%;
}

.contactusa {
    text-decoration: none;
    color: black;
    font-size: 16px;
    line-height: 35px;
    margin-left: 3%;
}

.contactus1>details>summary>span {
    font-size: 25px;
    float: right;
}

.contactus1>details>summary {
    font-size: 17px;
    line-height: 50px;
    border-bottom: 2px solid #e6e6e6;
}

.contactus2 {
    margin-top: 3%;
    margin-bottom: 10%;
    width: 100%;
}

.contactus21 {
    text-align: center;
    color: #0099cc;
}

.contactus22>ul>li {
    list-style: none;
    float: left;
    margin-right: 2%;
}

.contactus22>a {
    float: right;
    margin-right: 2%;
    color: black !important;
}

.aboutus1 {
    width: 96%;
    margin-left: 2%;
}

.aboutus11 {
    float: left;
}

.aboutus11>a {
    text-decoration: none;
    color: black;
}

.aboutus11>a>img {
    height: 25px;
}

.aboutus12 {
    float: right;
}

.aboutus12>a {
    text-decoration: none;
    color: black;
    border-right: 1px solid rgb(124, 120, 120);
    padding-right: 15px;
}

.aboutus2 {
    width: 96%;
    margin-top: 3%;
    float: left;
    margin-left: 2%;
}

.aboutus21 {
    float: left;
}

.aboutus22 {
    float: right;
}

.aboutus22>a>img {
    height: 60px;
}